<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

# ----------------------------------------
  <h3> Add Feedback</h3>
  <%= form.fields_for :feedbacks do |feedback| %>
    <%= render 'feedback_fields', f: feedback %>
    <h1>hello</h1>
  <% end %>

    <div class="links">
  <%= link_to_add_association "Add Feedback", form, :feedbacks %>
    </div>
  <br>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
